version: '3.8'

services:
  app:
    build: .
    ports:
      - "80:80"
    depends_on:
      - db

  db:
    image: mariadb:10.6
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: flight_booking
      MYSQL_USER: flightuser
      MYSQL_PASSWORD: flightpass
    volumes:
      - dbdata:/var/lib/mysql
      - ./database/schema.sql:/docker-entrypoint-initdb.d/schema.sql

volumes:
  dbdata:
