services:
  web:
    build: .
    ports:
      - "8095:80"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: flight_booking
    restart: always
