services:
  web:
    build: .
    ports:
      - "8082:80"
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: flight_booking
    volumes:
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
